In [1]:
import pandas as pd
df = pd.read_csv("pokeman_data.csv")
print(df)

FileNotFoundError: [Errno 2] No such file or directory: 'pokeman_data.csv'

In [2]:
import pandas as pd 
df = pd.read_csv('pokeman_data.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'pokeman_data.csv'

In [3]:
import pandas as pd 
df = pd.read_csv('pokemon_data.csv')

#(excel files can be read by using )
# df_xlsx = pd.read_xlsx('pokemon_data.xlsx')

#(txt files can be used by using below code)
#df_txt = pd.read_txt('pokemon_data.txt')

In [4]:
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [5]:
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [6]:
print(df.[["name", "type1","HP"]])

SyntaxError: invalid syntax (3573125313.py, line 1)

In [7]:
print(df.[["Name", "Type 1","HP"]])

SyntaxError: invalid syntax (2596488733.py, line 1)

In [8]:
print(df[["Name", "Type 1","HP"]])

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

In [9]:
print(df.iloc[0:4])

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False

In [10]:
for index, row in df.itertows():
    print(index, row["Name"])

AttributeError: 'DataFrame' object has no attribute 'itertows'

In [14]:
for index, row in df.iterrows():
    print(index, row["Type 1"])

0 Grass
1 Grass
2 Grass
3 Grass
4 Fire
5 Fire
6 Fire
7 Fire
8 Fire
9 Water
10 Water
11 Water
12 Water
13 Bug
14 Bug
15 Bug
16 Bug
17 Bug
18 Bug
19 Bug
20 Normal
21 Normal
22 Normal
23 Normal
24 Normal
25 Normal
26 Normal
27 Normal
28 Poison
29 Poison
30 Electric
31 Electric
32 Ground
33 Ground
34 Poison
35 Poison
36 Poison
37 Poison
38 Poison
39 Poison
40 Fairy
41 Fairy
42 Fire
43 Fire
44 Normal
45 Normal
46 Poison
47 Poison
48 Grass
49 Grass
50 Grass
51 Bug
52 Bug
53 Bug
54 Bug
55 Ground
56 Ground
57 Normal
58 Normal
59 Water
60 Water
61 Fighting
62 Fighting
63 Fire
64 Fire
65 Water
66 Water
67 Water
68 Psychic
69 Psychic
70 Psychic
71 Psychic
72 Fighting
73 Fighting
74 Fighting
75 Grass
76 Grass
77 Grass
78 Water
79 Water
80 Rock
81 Rock
82 Rock
83 Fire
84 Fire
85 Water
86 Water
87 Water
88 Electric
89 Electric
90 Normal
91 Normal
92 Normal
93 Water
94 Water
95 Poison
96 Poison
97 Water
98 Water
99 Ghost
100 Ghost
101 Ghost
102 Ghost
103 Rock
104 Psychic
105 Psychic
106 Water
107 Water
108 Electric
109 Electric
110 Grass
111 Grass
112 Ground
113 Ground
114 Fighting
115 Fighting
116 Normal
117 Poison
118 Poison
119 Ground
120 Ground
121 Normal
122 Grass
123 Normal
124 Normal
125 Water
126 Water
127 Water
128 Water
129 Water
130 Water
131 Psychic
132 Bug
133 Ice
134 Electric
135 Fire
136 Bug
137 Bug
138 Normal
139 Water
140 Water
141 Water
142 Water
143 Normal
144 Normal
145 Water
146 Electric
147 Fire
148 Normal
149 Rock
150 Rock
151 Rock
152 Rock
153 Rock
154 Rock
155 Normal
156 Ice
157 Electric
158 Fire
159 Dragon
160 Dragon
161 Dragon
162 Psychic
163 Psychic
164 Psychic
165 Psychic
166 Grass
167 Grass
168 Grass
169 Fire
170 Fire
171 Fire
172 Water
173 Water
174 Water
175 Normal
176 Normal
177 Normal
178 Normal
179 Bug
180 Bug
181 Bug
182 Bug
183 Poison
184 Water
185 Water
186 Electric
187 Fairy
188 Normal
189 Fairy
190 Fairy
191 Psychic
192 Psychic
193 Electric
194 Electric
195 Electric
196 Electric
197 Grass
198 Water
199 Water
200 Rock
201 Water
202 Grass
203 Grass
204 Grass
205 Normal
206 Grass
207 Grass
208 Bug
209 Water
210 Water
211 Psychic
212 Dark
213 Dark
214 Water
215 Ghost
216 Psychic
217 Psychic
218 Normal
219 Bug
220 Bug
221 Normal
222 Ground
223 Steel
224 Steel
225 Fairy
226 Fairy
227 Water
228 Bug
229 Bug
230 Bug
231 Bug
232 Bug
233 Dark
234 Normal
235 Normal
236 Fire
237 Fire
238 Ice
239 Ice
240 Water
241 Water
242 Water
243 Ice
244 Water
245 Steel
246 Dark
247 Dark
248 Dark
249 Water
250 Ground
251 Ground
252 Normal
253 Normal
254 Normal
255 Fighting
256 Fighting
257 Ice
258 Electric
259 Fire
260 Normal
261 Normal
262 Electric
263 Fire
264 Water
265 Rock
266 Rock
267 Rock
268 Rock
269 Psychic
270 Fire
271 Psychic
272 Grass
273 Grass
274 Grass
275 Grass
276 Fire
277 Fire
278 Fire
279 Fire
280 Water
281 Water
282 Water
283 Water
284 Dark
285 Dark
286 Normal
287 Normal
288 Bug
289 Bug
290 Bug
291 Bug
292 Bug
293 Water
294 Water
295 Water
296 Grass
297 Grass
298 Grass
299 Normal
300 Normal
301 Water
302 Water
303 Psychic
304 Psychic
305 Psychic
306 Psychic
307 Bug
308 Bug
309 Grass
310 Grass
311 Normal
312 Normal
313 Normal
314 Bug
315 Bug
316 Bug
317 Normal
318 Normal
319 Normal
320 Fighting
321 Fighting
322 Normal
323 Rock
324 Normal
325 Normal
326 Dark
327 Dark
328 Steel
329 Steel
330 Steel
331 Steel
332 Steel
333 Steel
334 Fighting
335 Fighting
336 Fighting
337 Electric
338 Electric
339 Electric
340 Electric
341 Electric
342 Bug
343 Bug
344 Grass
345 Poison
346 Poison
347 Water
348 Water
349 Water
350 Water
351 Water
352 Fire
353 Fire
354 Fire
355 Fire
356 Psychic
357 Psychic
358 Normal
359 Ground
360 Ground
361 Ground
362 Grass
363 Grass
364 Normal
365 Dragon
366 Dragon
367 Normal
368 Poison
369 Rock
370 Rock
371 Water
372 Water
373 Water
374 Water
375 Ground
376 Ground
377 Rock
378 Rock
379 Rock
380 Rock
381 Water
382 Water
383 Normal
384 Normal
385 Ghost
386 Ghost
387 Ghost
388 Ghost
389 Ghost
390 Grass
391 Psychic
392 Dark
393 Dark
394 Psychic
395 Ice
396 Ice
397 Ice
398 Ice
399 Ice
400 Ice
401 Water
402 Water
403 Water
404 Water
405 Water
406 Dragon
407 Dragon
408 Dragon
409 Dragon
410 Steel
411 Steel
412 Steel
413 Steel
414 Rock
415 Ice
416 Steel
417 Dragon
418 Dragon
419 Dragon
420 Dragon
421 Water
422 Water
423 Ground
424 Ground
425 Dragon
426 Dragon
427 Steel
428 Psychic
429 Psychic
430 Psychic
431 Psychic
432 Grass
433 Grass
434 Grass
435 Fire
436 Fire
437 Fire
438 Water
439 Water
440 Water
441 Normal
442 Normal
443 Normal
444 Normal
445 Normal
446 Bug
447 Bug
448 Electric
449 Electric
450 Electric
451 Grass
452 Grass
453 Rock
454 Rock
455 Rock
456 Rock
457 Bug
458 Bug
459 Bug
460 Bug
461 Bug
462 Bug
463 Bug
464 Electric
465 Water
466 Water
467 Grass
468 Grass
469 Water
470 Water
471 Normal
472 Ghost
473 Ghost
474 Normal
475 Normal
476 Normal
477 Ghost
478 Dark
479 Normal
480 Normal
481 Psychic
482 Poison
483 Poison
484 Steel
485 Steel
486 Rock
487 Psychic
488 Normal
489 Normal
490 Ghost
491 Dragon
492 Dragon
493 Dragon
494 Dragon
495 Normal
496 Fighting
497 Fighting
498 Fighting
499 Ground
500 Ground
501 Poison
502 Poison
503 Poison
504 Poison
505 Grass
506 Water
507 Water
508 Water
509 Grass
510 Grass
511 Grass
512 Dark
513 Electric
514 Normal
515 Ground
516 Grass
517 Electric
518 Fire
519 Fairy
520 Bug
521 Grass
522 Ice
523 Ground
524 Ice
525 Normal
526 Psychic
527 Psychic
528 Rock
529 Ghost
530 Ice
531 Electric
532 Electric
533 Electric
534 Electric
535 Electric
536 Electric
537 Psychic
538 Psychic
539 Psychic
540 Steel
541 Water
542 Fire
543 Normal
544 Ghost
545 Ghost
546 Psychic
547 Water
548 Water
549 Dark
550 Grass
551 Grass
552 Normal
553 Psychic
554 Grass
555 Grass
556 Grass
557 Fire
558 Fire
559 Fire
560 Water
561 Water
562 Water
563 Normal
564 Normal
565 Normal
566 Normal
567 Normal
568 Dark
569 Dark
570 Grass
571 Grass
572 Fire
573 Fire
574 Water
575 Water
576 Psychic
577 Psychic
578 Normal
579 Normal
580 Normal
581 Electric
582 Electric
583 Rock
584 Rock
585 Rock
586 Psychic
587 Psychic
588 Ground
589 Ground
590 Normal
591 Normal
592 Fighting
593 Fighting
594 Fighting
595 Water
596 Water
597 Water
598 Fighting
599 Fighting
600 Bug
601 Bug
602 Bug
603 Bug
604 Bug
605 Bug
606 Grass
607 Grass
608 Grass
609 Grass
610 Water
611 Ground
612 Ground
613 Ground
614 Fire
615 Fire
616 Fire
617 Grass
618 Bug
619 Bug
620 Dark
621 Dark
622 Psychic
623 Ghost
624 Ghost
625 Water
626 Water
627 Rock
628 Rock
629 Poison
630 Poison
631 Dark
632 Dark
633 Normal
634 Normal
635 Psychic
636 Psychic
637 Psychic
638 Psychic
639 Psychic
640 Psychic
641 Water
642 Water
643 Ice
644 Ice
645 Ice
646 Normal
647 Normal
648 Electric
649 Bug
650 Bug
651 Grass
652 Grass
653 Water
654 Water
655 Water
656 Bug
657 Bug
658 Grass
659 Grass
660 Steel
661 Steel
662 Steel
663 Electric
664 Electric
665 Electric
666 Psychic
667 Psychic
668 Ghost
669 Ghost
670 Ghost
671 Dragon
672 Dragon
673 Dragon
674 Ice
675 Ice
676 Ice
677 Bug
678 Bug
679 Ground
680 Fighting
681 Fighting
682 Dragon
683 Ground
684 Ground
685 Dark
686 Dark
687 Normal
688 Normal
689 Normal
690 Dark
691 Dark
692 Fire
693 Bug
694 Dark
695 Dark
696 Dark
697 Bug
698 Bug
699 Steel
700 Rock
701 Grass
702 Flying
703 Flying
704 Electric
705 Electric
706 Dragon
707 Dragon
708 Ground
709 Ground
710 Dragon
711 Dragon
712 Dragon
713 Water
714 Water
715 Normal
716 Normal
717 Bug
718 Grass
719 Grass
720 Grass
721 Fire
722 Fire
723 Fire
724 Water
725 Water
726 Water
727 Normal
728 Normal
729 Normal
730 Fire
731 Fire
732 Bug
733 Bug
734 Bug
735 Fire
736 Fire
737 Fairy
738 Fairy
739 Fairy
740 Grass
741 Grass
742 Fighting
743 Fighting
744 Normal
745 Psychic
746 Psychic
747 Psychic
748 Steel
749 Steel
750 Steel
751 Steel
752 Fairy
753 Fairy
754 Fairy
755 Fairy
756 Dark
757 Dark
758 Rock
759 Rock
760 Poison
761 Poison
762 Water
763 Water
764 Electric
765 Electric
766 Rock
767 Rock
768 Rock
769 Rock
770 Fairy
771 Fighting
772 Electric
773 Rock
774 Dragon
775 Dragon
776 Dragon
777 Steel
778 Ghost
779 Ghost
780 Ghost
781 Ghost
782 Ghost
783 Ghost
784 Ghost
785 Ghost
786 Ghost
787 Ghost
788 Ice
789 Ice
790 Flying
791 Flying
792 Fairy
793 Dark
794 Dragon
795 Rock
796 Rock
797 Psychic
798 Psychic
799 Fire

In [18]:
for index, row in df.iterrows():
    print(index, row["HP"])

0 45
1 60
2 80
3 80
4 39
5 58
6 78
7 78
8 78
9 44
10 59
11 79
12 79
13 45
14 50
15 60
16 40
17 45
18 65
19 65
20 40
21 63
22 83
23 83
24 30
25 55
26 40
27 65
28 35
29 60
30 35
31 60
32 50
33 75
34 55
35 70
36 90
37 46
38 61
39 81
40 70
41 95
42 38
43 73
44 115
45 140
46 40
47 75
48 45
49 60
50 75
51 35
52 60
53 60
54 70
55 10
56 35
57 40
58 65
59 50
60 80
61 40
62 65
63 55
64 90
65 40
66 65
67 90
68 25
69 40
70 55
71 55
72 70
73 80
74 90
75 50
76 65
77 80
78 40
79 80
80 40
81 55
82 80
83 50
84 65
85 90
86 95
87 95
88 25
89 50
90 52
91 35
92 60
93 65
94 90
95 80
96 105
97 30
98 50
99 30
100 45
101 60
102 60
103 35
104 60
105 85
106 30
107 55
108 40
109 60
110 60
111 95
112 50
113 60
114 50
115 50
116 90
117 40
118 65
119 80
120 105
121 250
122 65
123 105
124 105
125 30
126 55
127 45
128 80
129 30
130 60
131 40
132 70
133 65
134 65
135 65
136 65
137 65
138 75
139 20
140 95
141 95
142 130
143 48
144 55
145 130
146 65
147 65
148 65
149 35
150 70
151 30
152 60
153 80
154 80
155 160
156 90
157 90
158 90
159 41
160 61
161 91
162 106
163 106
164 106
165 100
166 45
167 60
168 80
169 39
170 58
171 78
172 50
173 65
174 85
175 35
176 85
177 60
178 100
179 40
180 55
181 40
182 70
183 85
184 75
185 125
186 20
187 50
188 90
189 35
190 55
191 40
192 65
193 55
194 70
195 90
196 90
197 75
198 70
199 100
200 70
201 90
202 35
203 55
204 75
205 55
206 30
207 75
208 65
209 55
210 95
211 65
212 95
213 60
214 95
215 60
216 48
217 190
218 70
219 50
220 75
221 100
222 65
223 75
224 75
225 60
226 90
227 65
228 70
229 70
230 20
231 80
232 80
233 55
234 60
235 90
236 40
237 50
238 50
239 100
240 55
241 35
242 75
243 45
244 65
245 65
246 45
247 75
248 75
249 75
250 90
251 90
252 85
253 73
254 55
255 35
256 50
257 45
258 45
259 45
260 95
261 255
262 90
263 115
264 100
265 50
266 70
267 100
268 100
269 106
270 106
271 100
272 40
273 50
274 70
275 70
276 45
277 60
278 80
279 80
280 50
281 70
282 100
283 100
284 35
285 70
286 38
287 78
288 45
289 50
290 60
291 50
292 60
293 40
294 60
295 80
296 40
297 70
298 90
299 40
300 60
301 40
302 60
303 28
304 38
305 68
306 68
307 40
308 70
309 60
310 60
311 60
312 80
313 150
314 31
315 61
316 1
317 64
318 84
319 104
320 72
321 144
322 50
323 30
324 50
325 70
326 50
327 50
328 50
329 50
330 50
331 60
332 70
333 70
334 30
335 60
336 60
337 40
338 70
339 70
340 60
341 60
342 65
343 65
344 50
345 70
346 100
347 45
348 70
349 70
350 130
351 170
352 60
353 70
354 70
355 70
356 60
357 80
358 60
359 45
360 50
361 80
362 50
363 70
364 45
365 75
366 75
367 73
368 73
369 70
370 70
371 50
372 110
373 43
374 63
375 40
376 60
377 66
378 86
379 45
380 75
381 20
382 95
383 70
384 60
385 44
386 64
387 64
388 20
389 40
390 99
391 65
392 65
393 65
394 95
395 50
396 80
397 80
398 70
399 90
400 110
401 35
402 55
403 55
404 100
405 43
406 45
407 65
408 95
409 95
410 40
411 60
412 80
413 80
414 80
415 80
416 80
417 80
418 80
419 80
420 80
421 100
422 100
423 100
424 100
425 105
426 105
427 100
428 50
429 50
430 50
431 50
432 55
433 75
434 95
435 44
436 64
437 76
438 53
439 64
440 84
441 40
442 55
443 85
444 59
445 79
446 37
447 77
448 45
449 60
450 80
451 40
452 60
453 67
454 97
455 30
456 60
457 40
458 60
459 60
460 60
461 70
462 30
463 70
464 60
465 55
466 85
467 45
468 70
469 76
470 111
471 75
472 90
473 150
474 55
475 65
476 65
477 60
478 100
479 49
480 71
481 45
482 63
483 103
484 57
485 67
486 50
487 20
488 100
489 76
490 50
491 58
492 68
493 108
494 108
495 135
496 40
497 70
498 70
499 68
500 108
501 40
502 70
503 48
504 83
505 74
506 49
507 69
508 45
509 60
510 90
511 90
512 70
513 70
514 110
515 115
516 100
517 75
518 75
519 85
520 86
521 65
522 65
523 75
524 110
525 85
526 68
527 68
528 60
529 45
530 70
531 50
532 50
533 50
534 50
535 50
536 50
537 75
538 80
539 75
540 100
541 90
542 91
543 110
544 150
545 150
546 120
547 80
548 100
549 70
550 100
551 100
552 120
553 100
554 45
555 60
556 75
557 65
558 90
559 110
560 55
561 75
562 95
563 45
564 60
565 45
566 65
567 85
568 41
569 64
570 50
571 75
572 50
573 75
574 50
575 75
576 76
577 116
578 50
579 62
580 80
581 45
582 75
583 55
584 70
585 85
586 55
587 67
588 60
589 110
590 103
591 103
592 75
593 85
594 105
595 50
596 75
597 105
598 120
599 75
600 45
601 55
602 75
603 30
604 40
605 60
606 40
607 60
608 45
609 70
610 70
611 50
612 60
613 95
614 70
615 105
616 105
617 75
618 50
619 70
620 50
621 65
622 72
623 38
624 58
625 54
626 74
627 55
628 75
629 50
630 80
631 40
632 60
633 55
634 75
635 45
636 60
637 70
638 45
639 65
640 110
641 62
642 75
643 36
644 51
645 71
646 60
647 80
648 55
649 50
650 70
651 69
652 114
653 55
654 100
655 165
656 50
657 70
658 44
659 74
660 40
661 60
662 60
663 35
664 65
665 85
666 55
667 75
668 50
669 60
670 60
671 46
672 66
673 76
674 55
675 95
676 70
677 50
678 80
679 109
680 45
681 65
682 77
683 59
684 89
685 45
686 65
687 95
688 70
689 100
690 70
691 110
692 85
693 58
694 52
695 72
696 92
697 55
698 85
699 91
700 91
701 91
702 79
703 79
704 79
705 79
706 100
707 100
708 89
709 89
710 125
711 125
712 125
713 91
714 91
715 100
716 100
717 71
718 56
719 61
720 88
721 40
722 59
723 75
724 41
725 54
726 72
727 38
728 85
729 45
730 62
731 78
732 38
733 45
734 80
735 62
736 86
737 44
738 54
739 78
740 66
741 123
742 67
743 95
744 75
745 62
746 74
747 74
748 45
749 59
750 60
751 60
752 78
753 101
754 62
755 82
756 53
757 86
758 42
759 72
760 50
761 65
762 50
763 71
764 44
765 62
766 58
767 82
768 77
769 123
770 95
771 78
772 67
773 50
774 45
775 68
776 90
777 57
778 43
779 85
780 49
781 44
782 54
783 59
784 65
785 55
786 75
787 85
788 55
789 95
790 40
791 85
792 126
793 126
794 108
795 50
796 50
797 80
798 80
799 80

In [20]:
print(df.loc[df["Type 1"] == "Fire"])

       #                       Name Type 1    Type 2   HP  Attack  Defense  \
4      4                 Charmander   Fire       NaN   39      52       43
5      5                 Charmeleon   Fire       NaN   58      64       58
6      6                  Charizard   Fire    Flying   78      84       78
7      6  CharizardMega Charizard X   Fire    Dragon   78     130      111
8      6  CharizardMega Charizard Y   Fire    Flying   78     104       78
42    37                     Vulpix   Fire       NaN   38      41       40
43    38                  Ninetales   Fire       NaN   73      76       75
63    58                  Growlithe   Fire       NaN   55      70       45
64    59                   Arcanine   Fire       NaN   90     110       80
83    77                     Ponyta   Fire       NaN   50      85       55
84    78                   Rapidash   Fire       NaN   65     100       70
135  126                     Magmar   Fire       NaN   65      95       57
147  136                    Flareon   Fire       NaN   65     130       60
158  146                    Moltres   Fire    Flying   90     100       90
169  155                  Cyndaquil   Fire       NaN   39      52       43
170  156                    Quilava   Fire       NaN   58      64       58
171  157                 Typhlosion   Fire       NaN   78      84       78
236  218                     Slugma   Fire       NaN   40      40       40
237  219                   Magcargo   Fire      Rock   50      50      120
259  240                      Magby   Fire       NaN   45      75       37
263  244                      Entei   Fire       NaN  115     115       85
270  250                      Ho-oh   Fire    Flying  106     130       90
276  255                    Torchic   Fire       NaN   45      60       40
277  256                  Combusken   Fire  Fighting   60      85       60
278  257                   Blaziken   Fire  Fighting   80     120       70
279  257      BlazikenMega Blaziken   Fire  Fighting   80     160       80
352  322                      Numel   Fire    Ground   60      60       40
353  323                   Camerupt   Fire    Ground   70     100       70
354  323      CameruptMega Camerupt   Fire    Ground   70     120      100
355  324                    Torkoal   Fire       NaN   70      85      140
435  390                   Chimchar   Fire       NaN   44      58       44
436  391                   Monferno   Fire  Fighting   64      78       52
437  392                  Infernape   Fire  Fighting   76     104       71
518  467                  Magmortar   Fire       NaN   75      95       67
542  485                    Heatran   Fire     Steel   91      90      106
557  498                      Tepig   Fire       NaN   65      63       45
558  499                    Pignite   Fire  Fighting   90      93       55
559  500                     Emboar   Fire  Fighting  110     123       65
572  513                    Pansear   Fire       NaN   50      53       48
573  514                   Simisear   Fire       NaN   75      98       63
614  554                   Darumaka   Fire       NaN   70      90       45
615  555    DarmanitanStandard Mode   Fire       NaN  105     140       55
616  555         DarmanitanZen Mode   Fire   Psychic  105      30      105
692  631                    Heatmor   Fire       NaN   85      97       66
721  653                   Fennekin   Fire       NaN   40      45       40
722  654                    Braixen   Fire       NaN   59      59       58
723  655                    Delphox   Fire   Psychic   75      69       72
730  662                Fletchinder   Fire    Flying   62      73       55
731  663                 Talonflame   Fire    Flying   78      81       71
735  667                     Litleo   Fire    Normal   62      50       58
736  668                     Pyroar   Fire    Normal   86      68       72
799  721                  Volcanion   Fire     Water   80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
4         60       50     65           1      False
5         80       65     80           1      False
6        109       85    100           1      False
7        130       85    100           1      False
8        159      115    100           1      False
42        50       65     65           1      False
43        81      100    100           1      False
63        70       50     60           1      False
64       100       80     95           1      False
83        65       65     90           1      False
84        80       80    105           1      False
135      100       85     93           1      False
147       95      110     65           1      False
158      125       85     90           1       True
169       60       50     65           2      False
170       80       65     80           2      False
171      109       85    100           2      False
236       70       40     20           2      False
237       80       80     30           2      False
259       70       55     83           2      False
263       90       75    100           2       True
270      110      154     90           2       True
276       70       50     45           3      False
277       85       60     55           3      False
278      110       70     80           3      False
279      130       80    100           3      False
352       65       45     35           3      False
353      105       75     40           3      False
354      145      105     20           3      False
355       85       70     20           3      False
435       58       44     61           4      False
436       78       52     81           4      False
437      104       71    108           4      False
518      125       95     83           4      False
542      130      106     77           4       True
557       45       45     45           5      False
558       70       55     55           5      False
559      100       65     65           5      False
572       53       48     64           5      False
573       98       63    101           5      False
614       15       45     50           5      False
615       30       55     95           5      False
616      140      105     55           5      False
692      105       66     65           5      False
721       62       60     60           6      False
722       90       70     73           6      False
723      114      100    104           6      False
730       56       52     84           6      False
731       74       69    126           6      False
735       73       54     72           6      False
736      109       66    106           6      False
799      130       90     70           6       True

In [23]:
print(df.loc[df["Type 1"]=="Fire"])

       #                       Name Type 1    Type 2   HP  Attack  Defense  \
4      4                 Charmander   Fire       NaN   39      52       43
5      5                 Charmeleon   Fire       NaN   58      64       58
6      6                  Charizard   Fire    Flying   78      84       78
7      6  CharizardMega Charizard X   Fire    Dragon   78     130      111
8      6  CharizardMega Charizard Y   Fire    Flying   78     104       78
42    37                     Vulpix   Fire       NaN   38      41       40
43    38                  Ninetales   Fire       NaN   73      76       75
63    58                  Growlithe   Fire       NaN   55      70       45
64    59                   Arcanine   Fire       NaN   90     110       80
83    77                     Ponyta   Fire       NaN   50      85       55
84    78                   Rapidash   Fire       NaN   65     100       70
135  126                     Magmar   Fire       NaN   65      95       57
147  136                    Flareon   Fire       NaN   65     130       60
158  146                    Moltres   Fire    Flying   90     100       90
169  155                  Cyndaquil   Fire       NaN   39      52       43
170  156                    Quilava   Fire       NaN   58      64       58
171  157                 Typhlosion   Fire       NaN   78      84       78
236  218                     Slugma   Fire       NaN   40      40       40
237  219                   Magcargo   Fire      Rock   50      50      120
259  240                      Magby   Fire       NaN   45      75       37
263  244                      Entei   Fire       NaN  115     115       85
270  250                      Ho-oh   Fire    Flying  106     130       90
276  255                    Torchic   Fire       NaN   45      60       40
277  256                  Combusken   Fire  Fighting   60      85       60
278  257                   Blaziken   Fire  Fighting   80     120       70
279  257      BlazikenMega Blaziken   Fire  Fighting   80     160       80
352  322                      Numel   Fire    Ground   60      60       40
353  323                   Camerupt   Fire    Ground   70     100       70
354  323      CameruptMega Camerupt   Fire    Ground   70     120      100
355  324                    Torkoal   Fire       NaN   70      85      140
435  390                   Chimchar   Fire       NaN   44      58       44
436  391                   Monferno   Fire  Fighting   64      78       52
437  392                  Infernape   Fire  Fighting   76     104       71
518  467                  Magmortar   Fire       NaN   75      95       67
542  485                    Heatran   Fire     Steel   91      90      106
557  498                      Tepig   Fire       NaN   65      63       45
558  499                    Pignite   Fire  Fighting   90      93       55
559  500                     Emboar   Fire  Fighting  110     123       65
572  513                    Pansear   Fire       NaN   50      53       48
573  514                   Simisear   Fire       NaN   75      98       63
614  554                   Darumaka   Fire       NaN   70      90       45
615  555    DarmanitanStandard Mode   Fire       NaN  105     140       55
616  555         DarmanitanZen Mode   Fire   Psychic  105      30      105
692  631                    Heatmor   Fire       NaN   85      97       66
721  653                   Fennekin   Fire       NaN   40      45       40
722  654                    Braixen   Fire       NaN   59      59       58
723  655                    Delphox   Fire   Psychic   75      69       72
730  662                Fletchinder   Fire    Flying   62      73       55
731  663                 Talonflame   Fire    Flying   78      81       71
735  667                     Litleo   Fire    Normal   62      50       58
736  668                     Pyroar   Fire    Normal   86      68       72
799  721                  Volcanion   Fire     Water   80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
4         60       50     65           1      False
5         80       65     80           1      False
6        109       85    100           1      False
7        130       85    100           1      False
8        159      115    100           1      False
42        50       65     65           1      False
43        81      100    100           1      False
63        70       50     60           1      False
64       100       80     95           1      False
83        65       65     90           1      False
84        80       80    105           1      False
135      100       85     93           1      False
147       95      110     65           1      False
158      125       85     90           1       True
169       60       50     65           2      False
170       80       65     80           2      False
171      109       85    100           2      False
236       70       40     20           2      False
237       80       80     30           2      False
259       70       55     83           2      False
263       90       75    100           2       True
270      110      154     90           2       True
276       70       50     45           3      False
277       85       60     55           3      False
278      110       70     80           3      False
279      130       80    100           3      False
352       65       45     35           3      False
353      105       75     40           3      False
354      145      105     20           3      False
355       85       70     20           3      False
435       58       44     61           4      False
436       78       52     81           4      False
437      104       71    108           4      False
518      125       95     83           4      False
542      130      106     77           4       True
557       45       45     45           5      False
558       70       55     55           5      False
559      100       65     65           5      False
572       53       48     64           5      False
573       98       63    101           5      False
614       15       45     50           5      False
615       30       55     95           5      False
616      140      105     55           5      False
692      105       66     65           5      False
721       62       60     60           6      False
722       90       70     73           6      False
723      114      100    104           6      False
730       56       52     84           6      False
731       74       69    126           6      False
735       73       54     72           6      False
736      109       66    106           6      False
799      130       90     70           6       True

In [24]:
print(df.iloc[2,3])

Poison

In [28]:
for index, row in df.iterrows():
    print(index, row['HP'])

0 45
1 60
2 80
3 80
4 39
5 58
6 78
7 78
8 78
9 44
10 59
11 79
12 79
13 45
14 50
15 60
16 40
17 45
18 65
19 65
20 40
21 63
22 83
23 83
24 30
25 55
26 40
27 65
28 35
29 60
30 35
31 60
32 50
33 75
34 55
35 70
36 90
37 46
38 61
39 81
40 70
41 95
42 38
43 73
44 115
45 140
46 40
47 75
48 45
49 60
50 75
51 35
52 60
53 60
54 70
55 10
56 35
57 40
58 65
59 50
60 80
61 40
62 65
63 55
64 90
65 40
66 65
67 90
68 25
69 40
70 55
71 55
72 70
73 80
74 90
75 50
76 65
77 80
78 40
79 80
80 40
81 55
82 80
83 50
84 65
85 90
86 95
87 95
88 25
89 50
90 52
91 35
92 60
93 65
94 90
95 80
96 105
97 30
98 50
99 30
100 45
101 60
102 60
103 35
104 60
105 85
106 30
107 55
108 40
109 60
110 60
111 95
112 50
113 60
114 50
115 50
116 90
117 40
118 65
119 80
120 105
121 250
122 65
123 105
124 105
125 30
126 55
127 45
128 80
129 30
130 60
131 40
132 70
133 65
134 65
135 65
136 65
137 65
138 75
139 20
140 95
141 95
142 130
143 48
144 55
145 130
146 65
147 65
148 65
149 35
150 70
151 30
152 60
153 80
154 80
155 160
156 90
157 90
158 90
159 41
160 61
161 91
162 106
163 106
164 106
165 100
166 45
167 60
168 80
169 39
170 58
171 78
172 50
173 65
174 85
175 35
176 85
177 60
178 100
179 40
180 55
181 40
182 70
183 85
184 75
185 125
186 20
187 50
188 90
189 35
190 55
191 40
192 65
193 55
194 70
195 90
196 90
197 75
198 70
199 100
200 70
201 90
202 35
203 55
204 75
205 55
206 30
207 75
208 65
209 55
210 95
211 65
212 95
213 60
214 95
215 60
216 48
217 190
218 70
219 50
220 75
221 100
222 65
223 75
224 75
225 60
226 90
227 65
228 70
229 70
230 20
231 80
232 80
233 55
234 60
235 90
236 40
237 50
238 50
239 100
240 55
241 35
242 75
243 45
244 65
245 65
246 45
247 75
248 75
249 75
250 90
251 90
252 85
253 73
254 55
255 35
256 50
257 45
258 45
259 45
260 95
261 255
262 90
263 115
264 100
265 50
266 70
267 100
268 100
269 106
270 106
271 100
272 40
273 50
274 70
275 70
276 45
277 60
278 80
279 80
280 50
281 70
282 100
283 100
284 35
285 70
286 38
287 78
288 45
289 50
290 60
291 50
292 60
293 40
294 60
295 80
296 40
297 70
298 90
299 40
300 60
301 40
302 60
303 28
304 38
305 68
306 68
307 40
308 70
309 60
310 60
311 60
312 80
313 150
314 31
315 61
316 1
317 64
318 84
319 104
320 72
321 144
322 50
323 30
324 50
325 70
326 50
327 50
328 50
329 50
330 50
331 60
332 70
333 70
334 30
335 60
336 60
337 40
338 70
339 70
340 60
341 60
342 65
343 65
344 50
345 70
346 100
347 45
348 70
349 70
350 130
351 170
352 60
353 70
354 70
355 70
356 60
357 80
358 60
359 45
360 50
361 80
362 50
363 70
364 45
365 75
366 75
367 73
368 73
369 70
370 70
371 50
372 110
373 43
374 63
375 40
376 60
377 66
378 86
379 45
380 75
381 20
382 95
383 70
384 60
385 44
386 64
387 64
388 20
389 40
390 99
391 65
392 65
393 65
394 95
395 50
396 80
397 80
398 70
399 90
400 110
401 35
402 55
403 55
404 100
405 43
406 45
407 65
408 95
409 95
410 40
411 60
412 80
413 80
414 80
415 80
416 80
417 80
418 80
419 80
420 80
421 100
422 100
423 100
424 100
425 105
426 105
427 100
428 50
429 50
430 50
431 50
432 55
433 75
434 95
435 44
436 64
437 76
438 53
439 64
440 84
441 40
442 55
443 85
444 59
445 79
446 37
447 77
448 45
449 60
450 80
451 40
452 60
453 67
454 97
455 30
456 60
457 40
458 60
459 60
460 60
461 70
462 30
463 70
464 60
465 55
466 85
467 45
468 70
469 76
470 111
471 75
472 90
473 150
474 55
475 65
476 65
477 60
478 100
479 49
480 71
481 45
482 63
483 103
484 57
485 67
486 50
487 20
488 100
489 76
490 50
491 58
492 68
493 108
494 108
495 135
496 40
497 70
498 70
499 68
500 108
501 40
502 70
503 48
504 83
505 74
506 49
507 69
508 45
509 60
510 90
511 90
512 70
513 70
514 110
515 115
516 100
517 75
518 75
519 85
520 86
521 65
522 65
523 75
524 110
525 85
526 68
527 68
528 60
529 45
530 70
531 50
532 50
533 50
534 50
535 50
536 50
537 75
538 80
539 75
540 100
541 90
542 91
543 110
544 150
545 150
546 120
547 80
548 100
549 70
550 100
551 100
552 120
553 100
554 45
555 60
556 75
557 65
558 90
559 110
560 55
561 75
562 95
563 45
564 60
565 45
566 65
567 85
568 41
569 64
570 50
571 75
572 50
573 75
574 50
575 75
576 76
577 116
578 50
579 62
580 80
581 45
582 75
583 55
584 70
585 85
586 55
587 67
588 60
589 110
590 103
591 103
592 75
593 85
594 105
595 50
596 75
597 105
598 120
599 75
600 45
601 55
602 75
603 30
604 40
605 60
606 40
607 60
608 45
609 70
610 70
611 50
612 60
613 95
614 70
615 105
616 105
617 75
618 50
619 70
620 50
621 65
622 72
623 38
624 58
625 54
626 74
627 55
628 75
629 50
630 80
631 40
632 60
633 55
634 75
635 45
636 60
637 70
638 45
639 65
640 110
641 62
642 75
643 36
644 51
645 71
646 60
647 80
648 55
649 50
650 70
651 69
652 114
653 55
654 100
655 165
656 50
657 70
658 44
659 74
660 40
661 60
662 60
663 35
664 65
665 85
666 55
667 75
668 50
669 60
670 60
671 46
672 66
673 76
674 55
675 95
676 70
677 50
678 80
679 109
680 45
681 65
682 77
683 59
684 89
685 45
686 65
687 95
688 70
689 100
690 70
691 110
692 85
693 58
694 52
695 72
696 92
697 55
698 85
699 91
700 91
701 91
702 79
703 79
704 79
705 79
706 100
707 100
708 89
709 89
710 125
711 125
712 125
713 91
714 91
715 100
716 100
717 71
718 56
719 61
720 88
721 40
722 59
723 75
724 41
725 54
726 72
727 38
728 85
729 45
730 62
731 78
732 38
733 45
734 80
735 62
736 86
737 44
738 54
739 78
740 66
741 123
742 67
743 95
744 75
745 62
746 74
747 74
748 45
749 59
750 60
751 60
752 78
753 101
754 62
755 82
756 53
757 86
758 42
759 72
760 50
761 65
762 50
763 71
764 44
765 62
766 58
767 82
768 77
769 123
770 95
771 78
772 67
773 50
774 45
775 68
776 90
777 57
778 43
779 85
780 49
781 44
782 54
783 59
784 65
785 55
786 75
787 85
788 55
789 95
790 40
791 85
792 126
793 126
794 108
795 50
796 50
797 80
798 80
799 80

In [33]:
print(df[['Name','Type 1']])

                      Name   Type 1
0                Bulbasaur    Grass
1                  Ivysaur    Grass
2                 Venusaur    Grass
3    VenusaurMega Venusaur    Grass
4               Charmander     Fire
..                     ...      ...
795                Diancie     Rock
796    DiancieMega Diancie     Rock
797    HoopaHoopa Confined  Psychic
798     HoopaHoopa Unbound  Psychic
799              Volcanion     Fire

[800 rows x 2 columns]

In [35]:
print(df.iloc[0,3])

Poison

In [39]:
df.sort_values(['Type 1'], ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
371,339,Barboach,Water,Ground,50,48,43,46,41,60,3,False
97,90,Shellder,Water,NaN,30,65,100,45,25,40,1,False
240,222,Corsola,Water,Rock,55,55,85,65,85,35,2,False
403,368,Gorebyss,Water,NaN,55,84,105,114,75,52,3,False
93,86,Seel,Water,NaN,65,45,55,45,70,45,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
54,49,Venomoth,Bug,Poison,70,65,60,90,75,90,1,False
208,193,Yanma,Bug,Flying,65,65,45,75,45,95,2,False
182,168,Ariados,Bug,Poison,70,90,70,60,60,40,2,False
734,666,Vivillon,Bug,Flying,80,52,50,90,50,89,6,False
179,165,Ledyba,Bug,Flying,40,20,30,40,80,55,2,False

In [44]:

df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [55]:
df.drop(columns=["Name"])
df.head(5)

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Poison,45,49,49,65,65,45,1,False,273
1,2,Ivysaur,Poison,60,62,63,80,80,60,1,False,345
2,3,Venusaur,Poison,80,82,83,100,100,80,1,False,445
3,3,VenusaurMega Venusaur,Poison,80,100,123,122,120,80,1,False,545
4,4,Charmander,NaN,39,52,43,60,50,65,1,False,270

In [57]:
# df = df.drop(columns=["Type 1"])
# df.head(5)
df['Total'] = df.iloc[:, 4:10].sum(axis=1)
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]
df.head(5)

,#,Name,Type 2,HP,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Poison,45,274,49,49,65,65,45,1,False,274
1,2,Ivysaur,Poison,60,346,62,63,80,80,60,1,False,346
2,3,Venusaur,Poison,80,446,82,83,100,100,80,1,False,446
3,3,VenusaurMega Venusaur,Poison,80,546,100,123,122,120,80,1,False,546
4,4,Charmander,NaN,39,271,52,43,60,50,65,1,False,271

In [59]:
cols = list(df.columns)
print(cols)

['#', 'Name', 'Type 2', 'HP', 'Total', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Total']

In [64]:
df['Total'] = df.iloc[:, 4:10].sum(axis=1)
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]
df.head(5)
df['Total'] = df.iloc[:, 4:10].sum(axis=1)
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]
df.head(5)

,#,Name,Type 2,HP,Total,Total,Total,Total,Total,Total,...,Total,Total,Total,Total,Total,Total,Total,Total,Total,Total
0,1,Bulbasaur,Poison,45,5545.0,5545.0,5545.0,5545.0,5545.0,5545.0,...,5545.0,5545.0,5545.0,5545.0,5545.0,5545.0,5545.0,5545.0,5545.0,5545.0
1,2,Ivysaur,Poison,60,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0,...,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0
2,3,Venusaur,Poison,80,9020.0,9020.0,9020.0,9020.0,9020.0,9020.0,...,9020.0,9020.0,9020.0,9020.0,9020.0,9020.0,9020.0,9020.0,9020.0,9020.0
3,3,VenusaurMega Venusaur,Poison,80,11040.0,11040.0,11040.0,11040.0,11040.0,11040.0,...,11040.0,11040.0,11040.0,11040.0,11040.0,11040.0,11040.0,11040.0,11040.0,11040.0
4,4,Charmander,NaN,39,5470.0,5470.0,5470.0,5470.0,5470.0,5470.0,...,5470.0,5470.0,5470.0,5470.0,5470.0,5470.0,5470.0,5470.0,5470.0,5470.0

In [66]:
# df.to_csv('modified.csv', index=False)

PermissionError: [Errno 13] Permission denied: 'modified.csv'

In [77]:
new_df = df.loc[df["HP"]>70]
new_df = new_df.reset_index(drop=True)
print(new_df)
# new_df.to_csv("Filterd")

       #                       Name  Type 2   HP    Total    Total    Total  \
0      3                   Venusaur  Poison   80   9020.0   9020.0   9020.0
1      3      VenusaurMega Venusaur  Poison   80  11040.0  11040.0  11040.0
2      6                  Charizard  Flying   78   9225.0   9225.0   9225.0
3      6  CharizardMega Charizard X  Dragon   78  11225.0  11225.0  11225.0
4      6  CharizardMega Charizard Y  Flying   78  11255.0  11255.0  11255.0
..   ...                        ...     ...  ...      ...      ...      ...
316  717                    Yveltal  Flying  126  11303.0  11303.0  11303.0
317  718           Zygarde50% Forme  Ground  108  10060.0  10060.0  10060.0
318  720        HoopaHoopa Confined   Ghost   80  10655.0  10655.0  10655.0
319  720         HoopaHoopa Unbound    Dark   80  12255.0  12255.0  12255.0
320  721                  Volcanion   Water   80  10615.0  10615.0  10615.0

       Total    Total    Total  ...    Total    Total    Total    Total  \
0     9020.0   9020.0   9020.0  ...   9020.0   9020.0   9020.0   9020.0
1    11040.0  11040.0  11040.0  ...  11040.0  11040.0  11040.0  11040.0
2     9225.0   9225.0   9225.0  ...   9225.0   9225.0   9225.0   9225.0
3    11225.0  11225.0  11225.0  ...  11225.0  11225.0  11225.0  11225.0
4    11255.0  11255.0  11255.0  ...  11255.0  11255.0  11255.0  11255.0
..       ...      ...      ...  ...      ...      ...      ...      ...
316  11303.0  11303.0  11303.0  ...  11303.0  11303.0  11303.0  11303.0
317  10060.0  10060.0  10060.0  ...  10060.0  10060.0  10060.0  10060.0
318  10655.0  10655.0  10655.0  ...  10655.0  10655.0  10655.0  10655.0
319  12255.0  12255.0  12255.0  ...  12255.0  12255.0  12255.0  12255.0
320  10615.0  10615.0  10615.0  ...  10615.0  10615.0  10615.0  10615.0

       Total    Total    Total    Total    Total    Total
0     9020.0   9020.0   9020.0   9020.0   9020.0   9020.0
1    11040.0  11040.0  11040.0  11040.0  11040.0  11040.0
2     9225.0   9225.0   9225.0   9225.0   9225.0   9225.0
3    11225.0  11225.0  11225.0  11225.0  11225.0  11225.0
4    11255.0  11255.0  11255.0  11255.0  11255.0  11255.0
..       ...      ...      ...      ...      ...      ...
316  11303.0  11303.0  11303.0  11303.0  11303.0  11303.0
317  10060.0  10060.0  10060.0  10060.0  10060.0  10060.0
318  10655.0  10655.0  10655.0  10655.0  10655.0  10655.0
319  12255.0  12255.0  12255.0  12255.0  12255.0  12255.0
320  10615.0  10615.0  10615.0  10615.0  10615.0  10615.0

[321 rows x 790 columns]

In [80]:
df.loc[~df['Name'].str.contains("Mega")]

,#,Name,Type 2,HP,Total,Total,Total,Total,Total,Total,...,Total,Total,Total,Total,Total,Total,Total,Total,Total,Total
0,1,Bulbasaur,Poison,45,5545.0,5545.0,5545.0,5545.0,5545.0,5545.0,...,5545.0,5545.0,5545.0,5545.0,5545.0,5545.0,5545.0,5545.0,5545.0,5545.0
1,2,Ivysaur,Poison,60,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0,...,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0
2,3,Venusaur,Poison,80,9020.0,9020.0,9020.0,9020.0,9020.0,9020.0,...,9020.0,9020.0,9020.0,9020.0,9020.0,9020.0,9020.0,9020.0,9020.0,9020.0
4,4,Charmander,NaN,39,5470.0,5470.0,5470.0,5470.0,5470.0,5470.0,...,5470.0,5470.0,5470.0,5470.0,5470.0,5470.0,5470.0,5470.0,5470.0,5470.0
5,5,Charmeleon,NaN,58,7025.0,7025.0,7025.0,7025.0,7025.0,7025.0,...,7025.0,7025.0,7025.0,7025.0,7025.0,7025.0,7025.0,7025.0,7025.0,7025.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Ground,108,10060.0,10060.0,10060.0,10060.0,10060.0,10060.0,...,10060.0,10060.0,10060.0,10060.0,10060.0,10060.0,10060.0,10060.0,10060.0,10060.0
795,719,Diancie,Fairy,50,11275.0,11275.0,11275.0,11275.0,11275.0,11275.0,...,11275.0,11275.0,11275.0,11275.0,11275.0,11275.0,11275.0,11275.0,11275.0,11275.0
797,720,HoopaHoopa Confined,Ghost,80,10655.0,10655.0,10655.0,10655.0,10655.0,10655.0,...,10655.0,10655.0,10655.0,10655.0,10655.0,10655.0,10655.0,10655.0,10655.0,10655.0
798,720,HoopaHoopa Unbound,Dark,80,12255.0,12255.0,12255.0,12255.0,12255.0,12255.0,...,12255.0,12255.0,12255.0,12255.0,12255.0,12255.0,12255.0,12255.0,12255.0,12255.0
799,721,Volcanion,Water,80,10615.0,10615.0,10615.0,10615.0,10615.0,10615.0,...,10615.0,10615.0,10615.0,10615.0,10615.0,10615.0,10615.0,10615.0,10615.0,10615.0